<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
<body>

	<!-- 谷歌搜索 start 
		<script>
		  (function() {
			var cx = '016444107009129344419:a9keugsspcc';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>-->
	<!-- 谷歌搜索 end -->
	  
  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
	<script src="{{site.baseurl}}/assets/js/click-effect.js"></script>
	<script src="{{site.baseurl}}/assets/js/dynamic-title.js"></script>
	<script src="{{site.baseurl}}/assets/js/canvas-nest.min.js"></script>
</body>
</html>
